<!--div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{ quote }}</q>
  </div>
</div-->
<div class="content">
  <div class="row">
    <div class="card-body">
      <div class="col-md-12 text-right">
        <a type="button" class="btn btn-success" href="./new_projects">New Project</a>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Project List:</h4>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th>Project Name</th>
                  <th>Type of Input</th>
                  <th>Number of Documents</th>
                  <th>Language / centre1</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ItemsArray[1].id</td>
                  <td>Niger</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
